<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform>
            <processPath>C:\Users\cissemohamed\Desktop\adjango\toto\Scripts\python.exe</processPath>
            <arguments>-m waitress --port %HTTP_PLATFORM_PORT% english_professional.wsgi:application</arguments>
            <stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="C:\Users\cissemohamed\Desktop\adjango" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>